//backgrounds
$light-blue-00: #CEDBE9;
$light-blue-01: #2F9FF8;
$light-blue-02: #2A8DE9;
$light-blue-03: #247DD8;
$dark-00: #2F313B;
$dark-01: #282A31;
$dark-02: #070707;
$white-00: #FFFFFF;
$white-01: #f5f5f5;
$white-02: #dadada;
